:root{
    --logo-multicolor:#2196F3;
    --header-logo-color:#000000;
    --header-background-color:#FFFFFF;
    --header-nav-color:#212121;
    --header-contact-color:#757575;
    --active-color:#2196F3;
    --banner-background-color:#2F303A;
    --banner-text-color:#FFFFFF;
    --btn-color:#2196F3;
    --btn-text-color:#FFFFFF;
    --btn-hover:#188CE8;
    --title-color:#212121;
    --team-text-color:#757575;
    --filter-btn-background: #F5F4FA;
    --filter-btn-text: #212121;
    --filter-btn-texthover: #FFFFFF;
    --portfolio-title-color:#212121;
    --portfolio-text-color:#757575;
    --feature-background-color: #FFFFFF;
    --about-background-color: #FFFFFF;
    --team-background-color: #F5F4FA;
    --team-content-color: #FFFFFF;
    --footer-background-color:#2F303A;
    --footer-text-color:#FFFFFF;

}
body{
    font-family: 'Roboto', sans-serif;
    background: var(--header-background-color);
    font-size: 14;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
ul{
    padding-left: 0;
    margin: 0;
}
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    outline: 1px solid red; 
}

/* --HEADER-- */
.header{
    background: var(--header-background-color);
    
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);

}

.logo-multicolor {
    color: var(--logo-multicolor);
}

.header-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-logo-color);
}
.activenav:focus {
    color: var(--active-color);
}
.activenav:hover {
    color: var(--active-color);
}
.header-nav .link.current {
    color: var(--active-color);
}

.link {
    text-decoration: none;
    color: var(--header-nav-color);
}

.list {
    list-style-type: none;
}


.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);
}

.header-contact:hover {
    color: var(--active-color); 
}
.header-contact:focus {
    color: var(--active-color);
}


/* --banner-- */
.banner{
    background: var(--banner-background-color);
    text-align: center;
    padding: 200px 452px 280px 452px;
    
}


.banner-title{
    font-size: 44px;
    line-height: 1.36;  
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--banner-text-color);

}
.banner-title .width{
    width: 696px;
}

.btn{
    
    background: var(--btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

}

.btn:hover{
    background: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn:focus {
    background: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn-text{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--btn-text-color);

    }



/* --FEATURE-- */
.feature{
    background: var(--feature-background-color);

}
.feature-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.feature-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--team-text-color);
}

/* --ABOUT */
.about{
    background-color: var(--about-background-color);
}
.about-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* --TEAM */
.team{
    background: var(--team-background-color);

}
.team-content{
background: var(--team-content-color);
}

.team-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin: 0;
}
.team-subtitle{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--team-text-color);
}

/* --filtr-- */

.filtr-btn{
    background: var(--filter-btn-background);
    border-radius: 4px;
    cursor: pointer;
}
.filtr-btn-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--filter-btn-text);
}
.filtr-btn .currentbtn {
    background: var(--btn-hover);
    color: var(--filter-btn-texthover);
}
.filtr-btn:hover{
    background: var(--btn-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.filtr-btn-text:hover {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--filter-btn-texthover);
}

.filtr-btn-text:focus {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--filter-btn-texthover);
}
.filtr-btn:focus {
    background: var(--btn-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* --PORTFOLIO-- */

.portfolio-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--portfolio-title-color);
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--portfolio-text-color);
}

/* --FOOTER-- */
.footer{
    background: var(--footer-background-color);

}
.footer-logo{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.footer-contact{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-contact:hover, .footer-contact:focus {
    color: var(--active-color);
}
